/*
@by niaogege
github niaogege
time:0904
*/
*,h1,h2,h3,a,li,div,span,p,img,ul{padding: 0;margin: 0;list-style: none;}
body{word-break: break-all;word-wrap:break-word;text-overflow:ellipsis;-webkit-font-smoothing:antialiased;font: 12px/1.5 'Hiragino Sans GB','Microsoft Yahei',arial,\5b8b\4f53,sans-serif;}
div{}
ul li{list-style:none;}
a{text-decoration:none;}
body{height: 100%;
	width: 100%;
	position: relative;
}
html#listening{
	margin-top: 0 !important;
	overflow:auto; 
	overflow-x:hidden;
	height:100%; 
}
html,body{
	margin:0; 
	height:100%;
}
.clearfix {
	zoom:1;
}
.clearfix:after{
	content:'.';
	overflow:hidden;clear:both;visibility:hidden;display:block;height:0;
}

.slidebar{float: left;
margin-right: -240px;
padding-top: 62px;
padding-bottom: 20px;
width: 240px;
text-align: center;
background: #fff; 
min-height: 100%;
}


.slidebar>div{text-align:center;}
.left-log{	
}
.page-link{margin-top:52px;position:relative;}
.page-link1,.page-link2{margin-left: 65px;
text-align: left;}
.page-link1 a,.page-link2 a{font-size: 14px;
color: #333333;
font-weight: bold;display: inline-block;
line-height: 35px;}
.current-page a{color:red;}
.page-link2 a:hover{color:red;}
.search-part{position: relative;
margin-top: 22px;}
.search-keyword{width:50%;}
.search-submit{background-color:black;}
.search-submit span{color:#fff;padding:3px 3px;}
.search-submit:hover {background-color:red;cursor:pointer;}
.block-line{width:75%;height:1px;background-color:hsla(0,10%,10%,.3);margin: 45px auto 0 auto;text-align:center;}
.hot-tags{margin-left: 65px;margin-top:30px;}
.hot-tags p{text-align: left;
font-size: 14px;
color: #333333;
font-weight: bold;}
.tags{padding-left: 0;
	margin-top: 8px;}
.st-tag-cloud{margin-right:10px;padding-right:40px;text-align: left;}
.st-tag-cloud a{margin-right:5px;
}

.weixin{margin-top:30px;
}
.weixin a{display:block;text-align: left;}
.weixin img{width: 88px;margin-top:10px;
}



/*container*/

@media screen and (min-width:960px){
.slidebar{float: left;
margin-right: -240px;
padding-top: 62px;
padding-bottom: 20px;
width: 240px;
text-align: center;
background: #fff; 
min-height: 100%;
}
#container{position: relative;
padding-top: 70px;
padding-bottom: 50px;
min-height: 100%;
margin-left: 240px;
border-left: 1px solid #e6e6e6;
zoom: 1;
background: #eaeaea;}
.cat-list{margin-left: 55px;
margin-bottom: 30px;
padding: 0;
height: 40px;display:block;}
.container-content{min-width: 930px;
max-width: 1870px;}
.entry{margin-left: 25px;}
ul.cat-list li a{
	position: relative;
	display: inline-block;
	*zoom: 1;
	margin-right: 15px;
	font-size: 14px;
	color: #666666;
	height: 32px;
	width: 90px;
	line-height: 34px;
	
	text-align: center;
	border-radius: 3px;
	border: 1px solid #c6c6c6;
	background-color: #ffffff;
}
.hotnew-posts {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    float: left;
    height: 290px;
    margin-bottom: 30px;
    margin-left: 30px;
    overflow: hidden;
    position: relative;
    width: 600px;
}
.post-img{
width: 284px;
height: 290px;
float: left;
margin: 0 0 30px 30px;
border: 1px solid #ddd;
background: #b3b3b3;
overflow: hidden;
position: relative;}
}
@media screen and (min-width:600px)and (max-width:960px){
.slidebar{float: left;
margin-right: -220px;
padding-top: 62px;
padding-bottom: 20px;
width: 220px;
text-align: center;
background: #fff; 
min-height: 100%;
}
#container{position: relative;
padding-top: 70px;
padding-bottom: 50px;
min-height: 100%;
margin-left: 240px;
border-left: 1px solid #e6e6e6;
zoom: 1;
background: #eaeaea;}
.container-content{min-width: 600px;
max-width: 900px;}
.cat-list{margin-left: 25px;
margin-bottom: 30px;
padding: 0;
height: 40px;display:block;}
.cat-list li{margin-bottom:8px;}
ul.cat-list li a{
	position: relative;
	display: inline-block;
	*zoom: 1;
	margin-right: 13px;
	font-size: 14px;
	color: #666666;
	height: 32px;
	width: 72px;
	line-height: 34px;
	
	text-align: center;
	border-radius: 3px;
	border: 1px solid #c6c6c6;
	background-color: #ffffff;
}
.entry{margin-left: 20px;}
.hotnew-posts {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    float: left;
    height: 290px;
    margin-bottom: 30px;
    margin-left: 0px;
    overflow: hidden;
    position: relative;
    width: 600px;
}
.post-img{
width: 284px;
height: 290px;
float: left;
margin: 0 0 30px 10px;
border: 1px solid #ddd;
background: #b3b3b3;
overflow: hidden;
position: relative;}
}
@media screen and (min-width:430px) and (max-width:600px){
#container{position: relative;
padding-top: 20px;
padding-bottom: 50px;
min-height: 100%;
border-left: 1px solid #e6e6e6;
zoom: 1;
background: #eaeaea;}
.container-content{min-width: 360px;
max-width: 660px;}
.cat-list{margin-left: 30px;
margin-bottom: 30px;
padding: 0;
height: 40px;display:block;}
.cat-list li{margin-bottom:8px;}
ul.cat-list li a{
	position: relative;
	display: inline-block;
	margin-right: 15px;
	font-size: 14px;
	color: #666666;
	height: 32px;
	width: 80px;
	line-height: 34px;	
	text-align: center;
	border-radius: 3px;
	border: 1px solid #c6c6c6;
	background-color: #ffffff;
}

.hotnew-posts {
    background: #fff none repeat scroll 0 0;
    
    float: left;
    height:100%;
    margin-bottom: 30px;
    margin-left: 30px;
    overflow: hidden;
    position: relative;
    width:660px;
}
.post-img{
width: 206px;
height: 205px;
float: left;
margin: 0 0 20px 2px;
border: 1px solid #ddd;
background: #b3b3b3;
overflow: hidden;
position: relative;}
}

@media screen and (max-width:430px){
#container{position: relative;
padding-top: 20px;
padding-bottom: 50px;
min-height: 100%;
border-left: 1px solid #e6e6e6;
zoom: 1;
background: #eaeaea;}
.container-content{min-width: 360px;
max-width: 420px;}
.cat-list{margin-left: 25px;
margin-bottom: 30px;
padding: 0;
height: 40px;display:block;}	
.entry{margin-left: 5px;}	
.cat-list{margin-left: 32px;
margin-bottom: 35px;
padding: 0px;
height: 40px;display:block;}
ul.cat-list li{margin-bottom:8px;}
ul.cat-list li a{
	position: relative;
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	color: #666666;
	height: 32px;
	width: 80px;
	line-height: 34px;	
	text-align: center;
	border-radius: 3px;
	border: 1px solid #c6c6c6;
	background-color: #ffffff;
}
.hotnew-posts {
    background: #fff none repeat scroll 0 0;
   
    float: left;
    height:100%;
    margin-bottom: 30px;
    margin-left: 30px;
    overflow: hidden;
    position: relative;
    width:660px;
}
.post-img{
width: 284px;
height: 290px;
float: left;
margin: 0 0 30px 30px;
border: 1px solid #ddd;
background: #b3b3b3;
overflow: hidden;
position: relative;}
}


.cat-list li{float:left;}

ul.cat-list li a:hover{
	color: #333;
	border: 1px solid #4d4d4d;
}
li.current-cat a{
	background-color: #4d4d4d !important;  
	border: 1px solid #4d4d4d !important;
	color: #fff !important; 
}



.hotnew-posts ul {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 3000px;
}
.hotnew-posts ul li {
    display: inline;
    float: left;
    height: 316px;
    margin: 0;
    padding: 0;
    width: 600px;
}
.hotnew-posts ul li a img {
width: 100%;
height: 200px;
}
.hotnew-posts ul li .hot-title, .post-info-front .title {
    color: #000000;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 15px 20px 10px;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    width: 244px;
}
.hotnew-posts ul li .hot-title {
}
.hotnew-posts ul li .hot-excerpt {
    color: #999999;
    display: block;
    font-size: 12px;
    overflow: hidden;
    padding: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span.excerpt {
    color: #999;
    display: block;
    font-size: 12px;
    height: 20px;
    overflow: hidden;
    padding: 0 20px;
    top: 270px;
    word-wrap: break-word;
}
.clearfix:after {
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	content: ".";
}
	.img-control{
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 56px;
	background-color: #000;
	opacity: 0.6;
	filter:alpha(opacity=60);
	position: absolute;
	z-index: 1;
	cursor: pointer;
}
.img-control img{
	margin-top: 13px;
	width: 16px;
	height: 30px;
}
.img-control:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
	background: #ff2a33;
}
.img-left{
	left: 0;
	top:70px;
}
.img-right{
	right: 0;
	top:70px;
}	


.border{position: absolute;z-index: 1;background: #b3b3b3;display: block;}
.border-top{width: 100%;height: 1px;left: 100%;top:0;}
.border-right{height: 100%;
width: 1px;
left: 283.1px;
top: 100%;}
.border-bottom{width: 100%;
height: 1px;
left: 100%;
top: 289px;}
.border-left{width: 1px;
height: 100%;
top: -100%;
left: 0;}

.post-title-front{display:block;cursor: auto;}
.post-title-front img{width: 100%;
height: 200px;
background: #aaa;}

.post-info-front{
position: absolute;
top: 200px;
background: #fff;
}
.post-info-front .title{display: block;
padding: 15px 20px 10px;
color: #000000;
font-size: 14px;
width: 244px;
overflow: hidden;
text-overflow: ellipsis !important;
white-space: nowrap;}
.post-info-front .excerpt{
display: block;
padding: 0 20px;
font-size: 12px;
color: #999;
top: 270px;
word-wrap: break-word;
height: 38px;
overflow: hidden;
}
.move-info{position: relative;padding: 0 25px;margin-top: 9px;}
.move-info .fa-2x{color:hsla(0,20%,30%,0.5);}
.move-info .fa-2x:hover{color:red;}
div.move-info>a img {position: relative;}
div.post-info-front a img {
width: 20px;
height: 20px;
border-radius: 100%;}
div.post-info-front a span.nianji{font-size: 14px;color: #666666;margin-left: 5px;vertical-align: 5px;display: inline-block;}